{% extends 'base_email.html' %}
{% block preheader %}Confirmation of attendance for {{ h_name }}{% endblock %}

{% block content %}
    <p>Thank you {{ name }} for confirming your attendance to {{ h_name }}!</p>
    <p>We are really excited to host this event and have you with us.</p>

    <p>In order to make registration go smoother, please show us this QR code during the process so we can easily find
        you:</p>
    {% include 'mails/include/email_image.html' with url=qr_url %}

    <p><b>
        Here is some important information before the big day!
    </b></p>

    <h3>Venue</h3>
    <p>Our venue for the weekend is <a href="https://goo.gl/maps/UAUGi6pnzjB2" target="_blank" rel="noopener noreferrer">Renold Building</a>, M1 7JA. 
        Make sure you don’t miss registration at <b>9:30am</b>!</p>

    <h3>Schedule</h3>
    <p>You can find the <b>full schedule</b> <a href="https://docs.google.com/document/d/17Mk914KmUC4UVz8-2m9SMq4gOUrgmmLr6ZGThG5gJaI/" target="_blank" rel="noopener noreferrer">here</a> along with detailed information about workshops and fun events. 
        Check out the <a href="http://hub.studenthack.com" target="_blank" rel="noopener noreferrer">hub</a> which will become accessible on the day for all important information - schedule, emergency contacts, hardware library requesting, and others.</p>

    <h3>Communication</h3>
    <p>
        For important announcements and some fun chats, we will be using Slack, so don’t forget to join <a href="https://join.slack.com/t/studenthackvii/shared_invite/enQtNTgyMTI3MjI0MzcyLTViZTdhYzVlMGY2M2ViNzkxM2YwMWVmOGFkNGZmMTNlNDc0MTQyYjNiNjI1OTY3MjJkMjAwNjE5NjViZjA0MmU" target="_blank" rel="noopener noreferrer">here</a>. 
        In the meanwhile, follow us on <a href="https://facebook.com/studenthack/" target="_blank" rel="noopener noreferrer">Facebook</a>, <a href="https://instagram.com/hacksoc.mcr/" target="_blank" rel="noopener noreferrer">Instagram</a>, and <a href="https://twitter.com/studentHack" target="_blank" rel="noopener noreferrer">Twitter</a> as well, as updates will be posted there, too. 
        And of course, don’t forget to use the hashtag #studenthackvii with photos from the Hackathon, we would love to see how much fun you had!
    </p>

    <h3>What should I bring?</h3>
    <p>
        Here’s a handy list of useful things to get for the hackathon:
        <ul>
          <li><b>Student ID</b></li>
          <li><b>Personal ID</b></li>
          <li>Laptop, chargers, any cables needed</li>
          <li>Sleeping bag/blankets</li>
          <li>Personal hygiene items</li>
          <li>Pyjamas/onesie for the pyjamas party!</li>
        </ul>
    </p>

    <h3>Hardware</h3>
    <p>
        For those of you hardware-enthusiasts, we’ve prepared a hardware library with all sorts of tools! 
        We’ll have plenty of devices and gadgets, such as Arduino boards, Raspberry Pis, and others. 
        During the hackathon, you can request all you need online at the <a href="http://hub.studenthack.com" target="_blank" rel="noopener noreferrer">hub</a>. 
    </p>

    <h3>PYJAMAS PARTY</h3>
    <p>
        Get that silly onesie you bought and only used once, or even better - here's a reason to get a new one because a PYJAMAS PARTY is happening at StudentHack! Yes, you heard it right, we're throwing a pyjamas party at a hackathon and it will be awesome, so don’t miss out on that! 
    </p>

    {% include 'mails/include/cancel.html' %}
    {% include 'mails/include/arrival_departure_info.html' %}
    {% include 'mails/include/closing.html' %}
{% endblock %}
